{% extends 'base/main.html' %}

{% block content %}

    {% include 'base/header.html' %}
    <section id="franchise">
        <div class="desktop-headline-image-carousel">
            <img src="https://i.ibb.co/HxrSTYw/Untitled-design-22.png">
        </div>

        <div class="mobile-franchise-image-carousel">
            <img src="https://i.ibb.co/HxrSTYw/Untitled-design-22.png">
        </div>

        <div class="content-box">
            <h2 style="line-height: 50px; text-align: left;margin-bottom: 20px;">Become a Part of the Mr. Gloss Family With Low Cost Franchise Opportunities</h1>
            <p class="content">Are you passionate about automotive care and looking to join a successful and growing business? Mr. Gloss offers an exciting franchise opportunity for entrepreneurs who want to bring premium car detailing and protection services to their community. As a Mr. Gloss franchisee, you'll benefit from our established brand, comprehensive training, and ongoing support to ensure your success.Our franchise model is designed to help you start and grow your own business with ease. </p>
            <p class="content" style="margin-top: 10px;">You'll have access to our top-of-the-line products, including our renowned Graphene Coating, which provides unmatched protection and shine for vehicles. With our proven business strategies and marketing support, you'll be equipped to attract and retain loyal customers.Join the Mr. Gloss family today and drive your business to success. Contact us to learn more about our franchise opportunities and start your journey with Mr. Gloss!.</p>       
            <h1 style="line-height: 50px; text-align: center;margin-bottom: 20px;">Contact Us For More Details</h1>
            <a href=""><button>Contact Us</button></a>
        </div>

        <div class="franchise-content-box">
            <h2>Become a Part of the Mr. Gloss Family With Low Cost Franchise Opportunities</h1>
                <p class="content">Are you passionate about automotive care and looking to join a successful and growing business? Mr. Gloss offers an exciting franchise opportunity for entrepreneurs who want to bring premium car detailing and protection services to their community. As a Mr. Gloss franchisee, you'll benefit from our established brand, comprehensive training, and ongoing support to ensure your success.Our franchise model is designed to help you start and grow your own business with ease. </p>
                <p class="content" style="margin-top: 10px;">You'll have access to our top-of-the-line products, including our renowned Graphene Coating, which provides unmatched protection and shine for vehicles. With our proven business strategies and marketing support, you'll be equipped to attract and retain loyal customers.Join the Mr. Gloss family today and drive your business to success. Contact us to learn more about our franchise opportunities and start your journey with Mr. Gloss!.</p>       
                <h1 style="line-height: 50px; text-align: center;margin-bottom: 20px;">Contact Us For More Details</h1>
                <a href=""><button>Contact Us</button></a>
        </div>

    </section>

    {% include 'base/footer.html' %}
{% endblock %}